.date input{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.date .input-group-addon{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn-record{
    background-color: rgb(71,87,139);
    border: none;
    font-size: 12px;
    color: #efefef;
}
.btn-record:last-child{
    margin-right: 15px;
}
.form-horizontal .control-label{
    font-size: 14px;
    font-weight: normal;
}
.vertical-spacing{
    margin-bottom: 15px;
}
.chartContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.bigpicker{
    border: none;
    border-radius: 4px;
    background-color: rgb(56,139,255);
    z-index: 100000000;
}
input.form-control{
    border-radius: 4px;
}
#IOcontrol th,td{
    text-align: center;
}
