.center-left{
    width: 5.47rem;
    height: 6rem;
    float: left;
}
.total-data{
    width: 100%;
    height: 6.1rem;
    background: url("../../image/tbm/index27.png") no-repeat left top;
    background-size:100% 4%;
    background-position: -0.1rem 0.21rem;
}
.step-back{
    width:100%;
    height:0.2rem;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
    line-height:0.2rem;

}
.step-back>img{
    width: 0.16rem;
    height: 0.16rem;
    margin-right: 0.2rem;
}
.subheading{
    width: 100%;
    height: 0.36rem;
    background: url('../../image/tbm/index12.png') no-repeat left top;
    line-height: 0.3rem;
    font-size: 0.16rem;
    vertical-align: middle;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    padding-left: 0.12rem;
    box-sizing: border-box;
    margin-bottom: 0.07rem;
    background-position: -0.12rem -0.33rem;
    display: flex;
}
.subheading>img{
    width: 0.15rem;
    height: 0.15rem;
    vertical-align: middle;
    margin-right: 0.08rem;
    margin-top: 0.09rem;
}
.slurry1{
    width: 100%;
    height: auto;
    padding-bottom:0.09rem;
    background:rgba(9,41,74,1);
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 0.07rem;
}
.included{
    width: 0.08rem;
    height: 0.08rem;

    border-bottom: 0.01rem solid #35CCB3;
    position: absolute;
    bottom: 0;
}
.left-buttom{
    left: 0;
    border-left: 0.01rem solid #35CCB3;
}
.right-button{
    right: 0;
    border-right: 0.01rem solid #35CCB3;
}
.slurry_inlet-zong{
    width: 100%;
   overflow: hidden;
    margin-bottom: 0.07rem;
}
.slurry_inlet-zong>div{
    border: 0.01rem solid #1498EB;
    float: left;
    margin-left: 0.07rem;
}
.slurry_inlet-zong>.slurry-inlet{
    width: 2rem;
}
.slurry_inlet-zong>.slurry-inlet1{
    width: 1.6rem;
    text-align: center;
}
.slurry-inlet-left{
    width: 50%;
    float: left;

    height: 1.1rem;
    padding: 0.09rem;
    box-sizing: border-box;
}
.slurry-inlet-left>div{
    margin-bottom: 0.08rem;
    color: #ffffff;
    font-size: 0.1rem;
}
.slurry-inlet-left>div>span{
    display: inline-block;
    width: 0.25rem;
    text-align: center;
    height: auto;
    margin:0  0.03rem;
    color:rgba(255,255,255,1);
    background:rgba(20,152,235,0.4);
}
.slurry-inlet-left1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;

}
.slurry-inlet-left1>div{
    font-size: 0.12rem;
}
.slurry-inlet-left5>div{
    margin-bottom: 0.02rem;
    font-size: 0.12rem;
}
.slurry-inlet-top>span{
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 0.12rem;
    color: #ffffff;
}
.slurry-inlet-top{
    background:rgba(20,152,235,0.4);
    line-height: 0.2rem;
    font-size: 0.1rem;
    color: #ffffff;
}
.Water-run{
    width: 5.26rem;
    margin: 0.09rem auto 0;
    height: 1.3rem;
}
.Water-run1{
    width:1.41rem;
    height:0.2rem;
    margin: 0 auto;
    background:rgba(20,152,235,0.4);
    text-align: center;
    color: #FFFFFF;
    border:0.01rem solid rgba(20,152,235,1);
}
.Water-run1-form{
    float: left;
    border: 0.01rem solid #1498EB;
}
.Water-run1-form>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 0.02rem;
    float: left;
}
.Water-run1-form>div>span:nth-child(1){
    width: 0.8rem;
    font-size: 0.1rem;
}
.Water-run1-form>div>span{
    width: 0.4rem;
}

.Groutin_system{
    width: 5.3rem;
    margin: 0 auto;
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
}
.Groutin_system>div{
width: 49%;
}


.Groutin_system-name{
    height: 0.5rem;
    border: 0.01rem solid rgba(20,152,235,1);
    margin-bottom: 0.1rem;
}
.Groutin_system-name>div:nth-child(1){
    background:rgba(20,152,235,0.4);
    text-align: center;
    color: #FFFFFF;
}

.Groutin_system2{
    color: #ffffff;
    width: 1.8rem;
    height: 0.8rem;
    float: left;
    margin-right: 0.09rem;
    border: 0.01rem solid rgba(20,152,235,1);
    float: left;
}
.Groutin_system3{
    width: 1.9rem;
    height: 0.8rem;
    border: 0.01rem solid rgba(20,152,235,1);
    float: left;
}
.Slurry-tank>div:nth-child(1){
    background:rgba(20,152,235,0.4);
    text-align: center;
    color: #ffffff;
}
.pressure_setting{
    width: 5.3rem;
    height: 1.08rem;
    margin-left: 0.09rem;
    margin-top: 0.07rem;
    border:0.01rem solid rgba(20,152,235,1);
}
.Groutin_systemnames>div{
    display: flex;
    justify-content: space-around;
    margin: 0.1rem 0;
}
.Groutin_systemnames>div>div{
    color: #ffffff;
}
.Groutin_systemnames>div>div>span{
    margin-left: 0.05rem;
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
}
.pressure_setting-text{
    width: 100%;
    height: 0.2rem;
}
.pressure_setting-text>div:nth-child(1){
    width: 1.43rem;
    height: 0.2rem;
    color: #ffffff;
    text-align: center;
    background:rgba(20,152,235,0.4);
}

.pressure_setting-text>div:nth-child(2){
   float: right;
    width: 3rem;
    height: 0.2rem;
}
.pressure-form{
    width: 100%;
    height: 0.66rem;
}
.pressure-form tr{
    border: 0.01rem solid rgba(20,152,235,1);
}
.pressure-form tr td{
    color: #ffffff;
}
.pressure-form-top{
    width: 1rem;
}
.center_middle{
    width: 8rem;
    height: 6.23rem;
    float: left;
    margin-left: 0.05rem;
}
.center_middle-dungou{
    width: 65%;
    margin: 0 auto;
    height: 0.4rem;
    margin-left: 0.5rem;
    background: #071339;
    font-size:0.38rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:0.46rem;
    text-align: center;
}
.Shield-Advance{
    width: 1.4rem;
    height: 96%;
    margin-left: 0.1rem;
    float: left;
    position: relative;
}
.Shield-Advance>div{
    width: 100%;
    border:0.01rem solid rgba(20,152,235,1);
}
.propelling-ball1{
    width: 4.55rem;
    height: 4.55rem;
    border-radius: 50%;
    border:0.02rem solid rgba(20,152,235,1);
    float: left;
    margin-left: 0.1rem;
    position: relative;
}
.propelling-ball2{
    width: 4.05rem;
    height: 4.05rem;
    border-radius: 50%;
    border:0.02rem solid rgba(20,152,235,1);
    background:rgba(20,152,235,0.1);
    float: left;
    margin-left: 0.1rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.small-garden{
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    background:rgba(20,152,235,0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-origin: 0.09rem 0.09rem;
    text-align: center;
    line-height: 0.18rem;
    color: #ffffff;
}
.Shield-cutter1{
    width: 100%;
    height: 0.2rem;
    text-align: center;
    color: #ffffff;
    background: rgba(20,152,235,0.4);
}
.Shield-cutter2>div{
    margin-bottom: 0.04rem;
    color: #ffffff;
    padding: 0 0.05rem;
    box-sizing: border-box;
}
.Shield-cutter2>div>div{
    display: inline-block;
    text-align: left;
    color: #ffffff;
    width: 0.55rem;
}
.Shield-cutter2>div>span{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 0.36rem;
    background:rgba(20,152,235,0.4);
}
.Shield-cutter3{
    padding: 0.10rem;
    box-sizing: border-box;
}
.Shield-cutter3>div{
    margin-bottom: 0.02rem;
    color: #ffffff;
}
.Shield-cutter3>div>span{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 0.36rem;
    margin: 0 0.06rem;
    background: rgba(20,152,235,0.4);
}
.jbjxz{
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 0.1rem;
}
.jbjliuliang{
    color: #ffffff;
    margin-bottom: 0.1rem;
}
.jbjliuliang>span{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 0.36rem;
    background: rgba(20,152,235,0.4);
}
.YouGang>div{
    color: #ffffff;
    font-size: 0.1rem;
    margin-bottom: 0.02rem;
}


.zhuangta{
    width: 1.24rem;
    height: 0.22rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.zhuangta>div>p{
    color: #ffffff;
    text-align: center;
    font-size: 0.1rem;
}
.zhuangta>div>div{
    width: 0.08rem;
    height: 0.08rem;
    background: #00a157;
}


.Shield-Advance-cutter{
    width: 100%;
    height: 1.6rem;
}
.Shield-Advance-cutter1{
    width: 100%;
    height: 1.3rem;
    position: absolute;
    top: 1.54rem;
    left: 0;

}
.Shield-Advance-cutter2{
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0.2rem;
}
.oil-cylinder-center{
    width: 4.05rem;
    height: 4.05rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.cylinder{
    width: 1rem;
    height: 0.9rem;
    position: absolute;
    border:0.01rem solid rgba(20,152,235,1);
}
.cylinder>div:nth-child(1){
    width: 100%;
    height: 0.2rem;
    background:#0C5694;
    color: #ffffff;
    text-align: center;

}
.A-oil-cylinder{
    left: 0;
    right:  0rem;
    top: 0.1rem;
    margin: 0 auto;
}
.B-oil-cylinder{
    right: 0.35rem;
    top: 1.1rem;
}
.C-oil-cylinder{
    right: 0.35rem;
    top: 2.1rem;
}
.D-oil-cylinder{
    left: 0;
    right:  0rem;
    bottom: 0.2rem;
    margin: 0 auto;
}
.E-oil-cylinder{
    left: 0.35rem;
    top: 1.1rem;
}
.F-oil-cylinder{
    left: 0.35rem;
    top: 2.1rem;
}
.PropeLLing{
    width:1.2rem;
    border: 0.01rem solid rgba(20,152,235,1);
    position: absolute;
    left: 0;
    right: 0;
    top: 1.05rem;
    margin: auto;
    height: 1.64rem;
}
.mifengrunhua{
    padding: 0.05rem 0.05rem;
}
.mifengrunhua>div{
    color: #ffffff;
    display: flex;
    font-size: 0.12rem;
    justify-content: space-between;
    margin-bottom: 0.08rem;

}

.Advance_permission{
    width:1.2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.72rem;
    margin: auto;
    height: 0.2rem;
    background:rgba(20,152,235,0.4);
    text-align: center;
    color: #DE512D;
}
.Tunjin_xitong>div{
    color: #ffffff;
    padding-left: 0.02rem;
    box-sizing: border-box;
}
.Sealed-lubrication{
float: right;
    height:auto;
    width: 1.6rem;
    margin-right: 0.13rem;
    border: 0.01rem solid rgba(20,152,235,1);
}
.Shield-Advance>.cylindrical-plot{
    width: 1.86rem;
    height:1.28rem ;
    position: absolute;
    display: flex;
    justify-content: space-between;
    border: none;

}
.cylindrical-plot-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.number-plot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.number-plot>p{
    color: #ffffff;
}
.center-plot{
    width: 0.12rem;
    height: 0.77rem;
    background:rgba(43,87,161,1);
    position: relative;
}
.center-plot>div{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(180deg,rgba(45,247,241,1) 0%,rgba(20,152,235,1) 100%);
}
.DPSLXT>div{
    display: flex;
    justify-content: space-around;
    margin: 0.05rem  0rem;
}
.DPSLXT>div>div{
    color: #ffffff;
    width: 2.2rem;
    text-align: left;
}
.center-right{
    width: 5.4rem;
    height: auto;
    float: right;
}
.service-data{
    width: 100%;
    height: 0.3rem;
    padding-left: 1.6rem;
}
.new_data::before{
    content: "";
    display: inline-block;
    width: 0.01rem;
    height: 0.12rem;
    background:rgba(255,255,255,1);
    float: left;
    margin-top: 0.04rem;
    margin-left: 0.16rem;
}
.service-data>div{
    float: left;
    width: 1.9rem;
    text-align: center;
    font-size:0.15rem;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
    line-height:0.20rem;
}
.water-cooling{
    width:5.23rem;
    height:1rem;
    border:0.01rem solid rgba(20,152,235,1);
    margin: 0 auto;
}
.water-cooling1{
    width: 1.16rem;
    height: 0.2rem;
    background:rgba(20,152,235,0.4);
    border:0.01rem solid rgba(20,152,235,1);
    color: #ffffff;
    text-align: center;
}
.cutter-disk{
    width: 3.05rem;
    height: 3.05rem;
    border: 0.02rem solid rgba(20,152,235,1);
    margin: 0 auto;
    border-radius: 50%;
    margin: 0.42rem auto 0;
    position: relative;
}
.cutter-disk1{
    width: 2.55rem;
    height: 2.55rem;
    border: 0.02rem solid rgba(20,152,235,1);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.small-garden1{
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    background:rgba(20,152,235,0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-origin: 0.09rem 0.09rem;
    text-align: center;
    line-height: 0.18rem;
    color: #ffffff;
}
.cutterhead{
    width: 2.55rem;
    height: 2.55rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.cutterhead1{
    width: 1.16rem;
    height: 1.03rem;
    margin: 0.19rem auto 0;
    border:0.01rem solid rgba(20,152,235,1);
}
.cutterhead-name{
    width: 100%;
    height: 0.2rem;
    background:rgba(20,152,235,0.4);
    color: #ffffff;
    text-align: center;
}
.cutterhead-name1>div{
     text-align: center;
     color: #ffffff;
    margin-bottom: 0.02rem;
 }
.cutterhead-name1>div>span{
    display: inline-block;
    width: 0.25rem;
    height: 0.18rem;
    background: rgba(20,152,235,0.4);
}

.cutterhead2{
    width: 2.4rem;
    height: 0.3rem;
    margin: 0.1rem auto 0;
    display: flex;
    justify-content: space-around;
    border:0.01rem solid rgba(20,152,235,1);
    background:rgba(20,152,235,0.4);
}
.cutterhead2>div>div{
    width: 0.08rem;
    height: 0.08rem;
    background: green;
}
.cutterhead2>div>p{
    color: #fff;
}
.daopianxuke{
    width:0.72rem;
    height:0.16rem;
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    color:rgba(255,0,0,1);
    line-height:0.16rem;
    text-align: center;
    color: #ff0000;
    width: 1.16rem;
    height:0.19rem;
    background:rgba(20,152,235,0.4);
    border:0.01rem solid rgba(20,152,235,1);
    margin: 0.26rem auto 0;
}
.shuju{
    width:0.87rem;
    height:0.75rem;
    border:0.01rem solid rgba(20,152,235,1);
    position: absolute;
}
.shuju1{
    right: 0.09rem;
    top: 1.7rem;
}
.shuju2{
    right: 0.09rem;
    top: 2.48rem;
}
.shuju3{
    right: 0.09rem;
    top: 3.26rem;
}
.shuju4{
    right: 0.09rem;
    top: 4.04rem;
}
.shuju5{
    right: 0.09rem;
    top: 4.82rem;
}
.shuju6{
    bottom: 0.09rem;
    right: 1rem;
}
.shuju12{
    left: 0.09rem;
    top: 1.7rem;
}
.shuju11{
    left: 0.09rem;
    top: 2.48rem;
}
.shuju10{
    left: 0.09rem;
    top: 3.26rem;
}
.shuju9{
    left: 0.09rem;
    top: 4.04rem;
}
.shuju8{
    left: 0.09rem;
    top: 4.82rem;
}
.shuju7{
    bottom: 0.09rem;
    left: 1rem;
}

.shuju>div>div{
    float: left;
    width: 50%;
    box-sizing: border-box;
    height:0.185rem;
    color: #ffffff;
    font-size: 0.1rem;
    text-align: center;
}
.shuju01{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background:rgba(20,152,235,0.4);
}
.empennage-buttom{
    width: 100%;
    height: 3.4rem;
    background: url("../../image/tbm/index33.png") no-repeat left top;
    background-size:100%  100%;
    position: relative;
}
#container-name{
    width: 100%;
    height: 1.4rem;
    position: absolute;
    top: 0.87rem;

}